/*#f7b617 amarillo
#2b2b2b gris footer*/

body{
    height: 1000px;
	margin: 0;
	padding: 0;

}
.ventana{
	background-image: url(../img/taxi.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
	background-size: cover;
	height: 700px;
}
.vanner{
	background-color: white;
}
.login{
	padding: 20px;
}
.portada{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2000px;
}
.ventana{
    margin-right: 0px;
}

.amarillito{
	width: 590px;
	height: 350px;
	background-color: #f7b617;
	color: white;
	text-align: left;
	margin-top: 90px;
    padding: 25px;
    padding-left: 25px;
    margin-left: 650px;
}

.logoblank{
	margin-top: 20px;
}
.inputs{
	border-left: none;
	border-right: none;
	border-top: none;
	height: 0; 
}
.obien{
	padding: 20px;
	margin-left: 120px;
    margin-top: -42px;
}
.celñaw{
	background-color: #f7b617;
	height: 500px;
}
.cell{
    padding: 17px   
}
.texti{
   color: white;
   display: flex;
   flex-direction: column;
   margin-top: 0;

}

.cuadrito{
	background-color: transparent;
	border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    margin-top: 25px;
}

.manejando{
	background-image: url(../img/conduce.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
	background-size: cover;
	height: 900px;
}
.largo{
	display: flex;
	align-items: stretch;
}
.cuatro{
	color: white;
	height: 400px;
	width: 500px;
    padding: 25px;
    margin-left: 650px;
    margin-top: 0;
}
.cuatrito{
	margin-top: 20px;
	background-color: rgba(0,0,0,0.5);/*para darle opacidad al color negro*/
	height: 200px;

}
.conduc{
	background-color: #f7b617;
	color: white;
}
.geo{
	background-color: #f7b617;
	color:white;
	height: 500px;
	margin-top: 0;
}
.cinco{
   margin-top: 20px; 
}

#map{
   width: 500px;
   height: 400px;
   border: 2px solid white;
   
}


.footer{
	background-color: #2b2b2b;
	height: 500px;
	color: white;
    padding: 50px 10px;
}

.mapsi{
	background-color: #f7b617;
	color: white;
}
.mapsito{
	background-color: #f7b617;
	color: white;
}
.trazo{
	background-color: white;
	color: black;
}
.pie{
	align-content: center;
    margin-top: 50px;
}
hr{
	background-color: white;
}
.parrafo div{
	text-decoration: none;
    
}
.pepe{
	margin-left: 423px;

}
