/*#f7b617 amarillo
#2b2b2b gris footer*/

body{
    height: 1000px;
	margin: 0;
	padding: 0;

}
.ventana{
	background-image: url(../img/taxi.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
	background-size: cover;
	height: 700px;
}
.vanner{
	background-color: white;
}
.login{
	padding: 20px;
}
.portada{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 2000px;
}
.ventana{
    margin-right: 0px;
}

.amarillito{
	width: 590px;
	height: 350px;
	background-color: #f7b617;
	color: white;
	text-align: left;
	margin-top: 90px;
    padding: 25px;
    padding-left: 25px;
    margin-left: 650px;
}


.inputs{
	background-color: white;
	border: 0;
    border-bottom: 3px;
}

.celñaw{
	background-color: #f7b617;
	height: 500px;
}
.cell{
    padding: 55px;
    
}
.texti{
   color: white;
   display: flex;
   flex-direction: column;
   margin-top: 60px;

}

.cuadrito{
	background-color: transparent;
	border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;

}

.manejando{
	background-image: url(../img/conduce.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
	background-size: cover;
	height: 900px;
}
.largo{
	display: flex;
	align-items: stretch;
}
.cuatro{
	color: white;
	background-color: black;
	margin-top: 90px;
	height: 300px;
	width: 500px;
    padding: 25px;
    padding-left: 25px;
    margin-left: 650px;
    opacity: 90%;
}
.conduc{
	background-color: #f7b617;
	color: white;
}
.geo{
	background-color: #f7b617;
	color:white;
	height: 500px;
}

hr{
	background-color: white;

}
.footer{
	background-color: #2b2b2b;
	height: 500px;
	color: white;
	text-decoration: none;
}